body { 
    font-family: Roboto;
    background-color: white;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
}

.left-header { 
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 48px;
    margin-right: auto;
}

.right-header { 
    margin-right: 48px;
    margin-left: auto;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.first-section { 
    display: flex;
    background-color: #1f2937;
}

.left-first { 
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 48px;
    margin-left: 72px;
    justify-content: center;
    align-items: flex-start;
}

#first-large-text { 
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

#first-small-text {
    font-size: 18px;
    color: #E5E7EB;
    margin: none;
}

#first-button {
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    border: none;
    width: 72px;
    height: 27px;
    margin: none;
}

.right-first { 
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: auto;
    flex-grow: 2;
}

#image-first {
    margin: 48px;
    margin-right: 72px;
    height: 320px;
    width: 600px;
}