body {
    font-family: Roboto;
    background-color: white;
    font-size: 18px;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

ul {
    list-style-type: none;
}

p {
    margin: 0;
}

button {
    border-radius: 10px;
    background-color: #3882F6;
    color: #E5E7EB;
    width: fit-content;
    margin: none;
    padding: 0px 10px;
}
.header {
    display: flex;
    background-color: #1f2937;
    justify-content: center;
    align-items: center;
    padding: 0px;
    padding-top: 18px;
}

.left-header {
    display: flex;
    flex: 0 1 auto;
    font-size: 24px;
    color: #F9FAF8;
    margin: 0px;
    margin-left: 200px;
    margin-right: auto;
}

.right-header {
    display: flex;
    flex: 0 1 auto;
    margin: 0px;
    margin-right: 200px;
    margin-left: auto;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    font-size: 18px;
}

.first-section {
    display: flex;
    background-color: #1f2937;
}

.left-first {
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin: 48px;
    margin-left: 200px;
    margin-top: 30px;
    justify-content: center;
    align-items: flex-start;
}

#first-large-text {
    display: flex;
    flex: 0 1 auto;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    margin: 0;
}

#first-small-text {
    display: flex;
    flex: 0 1 auto;
    font-size: 18px;
    color: #E5E7EB;
    margin: none;
}

#first-button {
    display: flex;
    flex: 0 1 auto;
    justify-content: center;
    align-items: center;
    border: none;
    height: 30px;   
}

.right-first {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 48px;
    margin-right: 200px;
    margin-top: 30px;
    flex-grow: 1;
}

#image-first {
    display: flex;
    flex: 0 1 auto;
    width: 800px;
    height: 320px;
    min-width: 0px;
    
}

.second-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 100px;
}

#information-header-text-second {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.bottom-second {
    display: flex;
    justify-content: space-between;
    gap: 52px;
}

.bottom-second img {
    height: 250px;
    width: 250px;
    border-radius: 5px;
    border-color: #3882F6;
}

.bottom-second p {
    width: 250px;
    flex-wrap: wrap;
}

.out-left-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.mid-left-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.mid-right-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}

.out-right-second {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 20px;
}


.third-section {
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    justify-content: center;
    align-items: center;
    padding: 20px 450px;
}

.third-section h1 {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1f2937;
    margin: 0;
}

.third-section p {
    display: flex;
    align-self: flex-end;
}

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3882F6;
    margin: 50px 200px;
    border-radius: 5px;
}

.left-fourth { 
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content:center;
    align-items: flex-start;
}

#fourth-large-text {
    font-size: 24px;
    color: #F9FAF8;
    margin: 20px 60px;
    margin-bottom: 10px;
    margin-right: auto;
}

#fourth-small-text {
    display:flex;
    flex-wrap: wrap;
    font-size: 16px;
    color: #E5E7EB;
    width: 350px;
    margin: 20px 60px;
    margin-top: 0px;
    margin-right: auto;
}

.right-fourth {
    display: flex;
    flex-grow: 1;
}

.right-fourth button {
    height: 30px;
    border-style: solid;
    border-color: #E5E7EB;
}